body {
	background-color: #005E7C;
	text-align: center;
	padding: 50px;
	color: white;
}

h1 {
	color: skyblue;
}

h2 {
	color: #4CE0D2;
}

h3 {
	color: #0094C6;
}

h4 {
	color: #ACEDFA;
}

ul, ol {
	text-align: left;
}

.turtle {
	font-size: 20px;
}

a {
	color: #ACEDFA;
	background-color: #0094C6;
}

a:hover {
	background-color: #4CE0D2;
	transform: scale(1.02);
}
